
body{
    font-family:  "Roboto", sans-serif;
    color: NAVY BLUE;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.portfolio ul li .name h4{
    font-weight: 500;
}
.portfolio ul li .name p{
    font-weight: 400;
}
header .menuler{
    display: flex;
    list-style: none;
    border: 0 solid #ffffff;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #E7E9FC;
    background-color: #ffffff;
}
header .fixed{
position: fixed;
z-index: 99999999;
}
header .menuler .sol{
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 9%;
    gap: 50px;
}

header .menuler .sag{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 9%;
}
header .menuler .sag ul{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}
header .stud{
    text-decoration: none;
    color: #2E2F42;
    font-weight: 700;
    font-family:  "Raleway", sans-serif;
    font-size: 18px;
    padding: 20px;
}
header .stud span{
    color: #4D5AE5;
    font-weight: 700;
}
header a{
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-family:  "Raleway", sans-serif;
    font-size: 16px;
    padding: 20px;
}
header a span{
    color: #4D5AE5;
    font-weight: 700;
}
header nav ul li{
    list-style: none;
}
header .menu{
    display: flex;
    gap: 15px;
    cursor: pointer;
}
header nav ul li a:hover{
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header nav ul li a:after{
    content: '';
    position: absolute;
    left: 27.2%;
    bottom: 0;
    width: 2.5%;
    height: 0;
    background-color: #404BBF;
}
header nav ul li a:active{
    border-bottom: 3px solid #404BBF;
}
header .contact{
    display: flex;
    gap: 15px;
    font-weight: 400;
}
header .contact a:hover{
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.slider{
    height: 672px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2E2F42;
    background-size: 1440px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent),
              url('../images/people-office1.jpg') center/cover no-repeat;
}
.slider::after{
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)); 
}
.slider .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1158px;
}
.slider h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 700;
}

.modal-button:hover{
    background-color: #404BBF;
}
.toggle-checkbox {
    display: none;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 9999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}
.modal-button{
    border: 0 solid transparent;
    border-radius: 5px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.toggle-checkbox:checked ~ .modal {
    display: block;
}
.modal .modal-content {
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: 85px;
    padding: 20px;
    border: 1px solid #888;
    width: 408px;
    height: 584px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px #00000024;

}

form #name[placeholder]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/icons.svg/user.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
form #phone[placeholder]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/icons.svg/Vector.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
form #email[placeholder]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/icons.svg/mail.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.modal .close-button {
    color: #aaa;
    float: right;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
    background-color: #E7E9FC;
    padding: 0 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button:hover,
.modal .close-button:focus {
    text-decoration: none;
    border-radius: 50%;
    background-color: #4D5AE5;
    padding: 0 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal-content form{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 75px;
    gap: 6px;
}
.modal .modal-content form label{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;
}
form #name[placeholder]:focus{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('../images/icons.svg/user(1).png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
form #phone[placeholder]:focus{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-size: 13px;
    background-color: white;
    background-image: url('../images/icons.svg/call.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
form #email[placeholder]:focus{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-size: 16px;
    background-color: white;
    background-image: url('../images/icons.svg/mail(1).png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.modal .modal-content form input{
    height: 40px;
    top: 84px;
    gap: 0px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    opacity: 0px;
    color: #2E2F4266;
}
.modal .modal-content form input:focus{
    border: 1px solid #4D5AE5;
}
.modal .modal-content form textarea[placeholder]{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    padding: 5px 15px;
}
.modal .modal-content p{
    position: relative;
    top: 50px;
    font-weight: 500;
    display: flex;
    letter-spacing: 1px;
}
form button{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    padding: 16px ;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    border: 0;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
form .buttons:hover{
    background-color: #404BBF;
}
form .kutu{
    display: flex;
    gap: 3px;
}
form .kutu .privacy{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-align: left;
    text-decoration: underline;
    color: #4D5AE5;
}
form .kutu #scales{
    width: 16px;
    height: 16px;
    gap: 0px;
    border-radius: 2px;
    border: 1px;
    opacity: 0px;
}
.yazilar{
    height: 400px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.yazilar .container{
    display: flex;
    width: 1128px;
    justify-content: center;
}

.yazilar h2{
    font-size: 25px;
    color: #2E2F42;
    font-weight: 500;
}
.yazilar li{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.yazilar li .icon{
    background-color: #F4F4FD;
    padding: 0;
    display: flex;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 5px;
    align-items: center;
    width: 291px;
    height: 160px;
}
.yazilar li .icon p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}
.yazilar ul{
    display: flex;
    list-style: none;
    gap: 33px;
    justify-content: center;
    align-items: center;
}
.yazilar ul li p{
    font-size: 18px;
    color: #434455;
    font-weight: 400;
}
.team{
    height: 800px;
    background-color: #F4F4FD;

}
.team .container{
    display: inline;
    flex-direction: column;
    gap: 50px;
    width: 1158px;
    
}
.team h2{
    display: flex;
    justify-content: center;
    padding: 7% 0px 50px;
    font-size: 30px;
    font-weight: 700;
}
.team ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.team ul li{ 
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.team ul li .name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 35px;
    
}
.team ul li .name ul li{
    border-radius: 50%;
    background-color: #4D5AE5;
    padding: 20px;
    position: relative;
    top: 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
              cursor: pointer;
}
.team ul li .name ul li:hover{
    background-color: #31D0AA;
}
.team ul li .name h4{
    font-size: 22px;
    color: #2E2F42;
    padding-bottom: 20px;
    font-weight: 500;
}
.team ul li .name p{
    color: #434455;
    font-weight: 400;
}
.portfolio{
    height: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio .container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.portfolio h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.portfolio ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    gap: 20px;
}

.portfolio ul li{
    background-color: #FFFFFF;
    border: 1px solid #E7E9FC;
    
}
.portfolio ul li:active{
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio ul li:hover{
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-container {
    position: relative;
    width: 400px;
    height: auto;
}
.portfolio ul li .name{
    padding: 15px;
    cursor: pointer;
    padding-bottom: 40px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.portfolio-list {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .portfolio-list .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 465px;
    background-color: #4D5AE5;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    padding: 50px;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
  }
  .portfolio-list:active .image-container .overlay,
  .portfolio-list:focus-within .image-container .overlay {
    opacity: 1;
  } 
footer{
    height: 300px;
    background-color: #2E2F42;
    padding: 100px 0;
}
footer .container{
    display: flex;
    gap: 15px;
    width: 1255px;
    align-items: start;
    margin-left: 13%;
}
footer .container .sol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .container .sag{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    position: relative;
    left: 10%;
}
footer .sag ul{
    display: flex;
    gap: 20px;
}
footer .sag ul li{
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
footer .sag ul li:hover{
    background-color: #31D0AA;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer a{
    text-decoration: none;
    color: #F4F4FD;
    font-weight: 700;
    font-family:  "Raleway", sans-serif;
    font-size: 18px;
}
footer a span{
    color: #4D5AE5;
    font-weight: 700;
}
footer p{
    color: #F4F4FD;
    font-weight: 400;
}
footer .subscribe{
    position: relative;
    left: 14%;
}
.subscribe-form {
    width: 100%;
  }
  
  .form-group input[type="email"],
  .form-group input[type="submit"] {
    display: inline-block;
    margin-top: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  .form-group label{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    font-weight: 500;
  }
  input[type="email"]
   {
    margin-top: 20px;
    display: inline-block;
  }
  
  input[type="email"] {
    width: 264px;
    height: 40px;
    gap: 0px;
    border-radius: 5px;
    border: 1px 0px 0px 0px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: left;
    color: #fff;
}
input[type="submit"] {
    display: none;
}
.subscribe-form button[type="button"]{
    width: 160px;
    height: 40px;
    top: 140px;
    left: 1116px;
    padding: 8px 24px 8px 24px;
    gap: 16px;
    border-radius: 5px;
    background-color: #4D5AE5;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.mailbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .container .sag h3{
    font-weight: 500;
}
@media (max-width: 320px) {
    .menu {
        display: flex;
        list-style: none;
        border: 0 solid #ffffff;
        width: 54%;
        padding: 0px;
        border-bottom: 1px solid #E7E9FC;
        background-color: #ffffff;
    }
    header .fixed {
        position: fixed;
        z-index: 99999999;
        width: 320px;
        height: 56px;
    }
    .menu.is-open {
        display: flex;
    }
    header .menu{
        display: none;
    }
    .menu-toggle {
        display: inline-block;
        width: 24px;
        height: 24px;
        top: 0px;
        left: 68px;
        padding: 4.8px 3.6px 4.8px 3.6px;
        position: relative;
    }

    .sol, .sag {
        display: block;
        text-align: center;
    }
    header .menuler .sol{
        margin-left: 0;
        
    }
    .sag {
        margin-top: 15px;
    }
    header nav ul li{
        display: none;
    }
    header .menuler .sag ul{
        display: none;
    }
    .slider {
        height: 432px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #2E2F42;
        background-size: 1440px auto;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), url(../images/people-office1.jpg) center / cover no-repeat;
        width: 320px;
        top: 56px;
        position: relative;
    }
    .slider .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px; 
    }
    .slider h1 {
        color: #ffffff;
        width: 216px;
        height: 160px;
        top: 10px;
        left:0;
        gap: 0px;
        opacity: 0px;
        position: relative;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .modal-button {
        border: 0 solid transparent;
        border-radius: 5px;
        background-color: #4D5AE5;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: Hug(169px) px;
        height: Hug(56px) px;
        top: 50px;
        left: 0;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        opacity: 0px;
        position: relative;
    }
    .yazilar{
        height: 845px;
    }
    .yazilar .container{
        width: 288px;
        height: 606px;
        top: 0;
        left: 0;
        gap: 72px;
        opacity: 0px;
        position: relative;
    }
    .yazilar ul{
        display: flex;
        flex-direction: column;
    }
    .yazilar ul li .icon{
        display: none;
        
    }
    .yazilar ul li h2{
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .yazilar ul li p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .team{
        width: 320px;
        height: 2232px;
        top: 0;
        gap: 0px;
        opacity: 0px;
        position: relative;

    }
    .team ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 75px;
    }
    .team ul li .name ul{
        display: flex;
        flex-direction: row;
        width: 232px;
        height: 40px;
        display: flex;
        gap: 25px;
    }
    .team ul li .name ul li{
        width: 40px;
        height: 40px;
        
    }
    .team ul li .name ul li a{
        position: relative;
        right: 10px;
        bottom: 10px;
    }
    .team ul li .name ul li:hover{
        background-color: #31D0AA;
    }
    .team h2 {
        display: flex;
        justify-content: center;
        padding: 15% 0px 50px;
        font-size: 30px;
        font-weight: 700;
    }
    .team ul .card-list{
        width: 264px;
        height: 428px;
        padding: 0px 0px 32px 0px;
        gap: 32px;
        border-radius: 0px 0px 4px 4px;
        opacity: 0px;
    }
    .team ul .card-list img{
        width: 264px;
        height: 260px;
    }
    .portfolio{
        width: 320px;
        height: 2752px;
        top: 3704px;
        left: 16px;
    }
    .portfolio h2{
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .portfolio ul{
        display: flex;
        flex-direction: column;
        
    }
    .image{
        width: 288px;
        height: 280px;
    }
    .portfolio ul li .name h4{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .portfolio ul li .name p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .bank{
        width: 296px;
        height: 96px;
        top: 0;
        left: 0;
        position: relative;
        font-size: 16px;
        padding: 42px;
    }
    .portfolio-list .image-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 465px;
        background-color: #4D5AE5;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        padding: 0px;
        font-size: 17px;
        color: #fff;
        font-weight: 400;
    }
    .portfolio ul li{
        width: 288px;
        height: 400px;
        top: 0;
        left: 0;   
        position: relative; 
    }
    .portfolio ul li .name {
        padding: 15px;
        cursor: pointer;
        padding-bottom: 28px;
        padding-top: 23px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    footer{
        height: 664px;
        background-color: #2E2F42;
        padding: 100px 0;
    }
    footer .container{
        display: flex;
        gap: 60px;
        flex-direction: column;
        width: 320px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        margin-left: 0;
    }
    footer .container .sol{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 320px;
        height: 112px;
        left: 0;
        opacity: 0px;
        position: relative;
    }
    footer .container .sol p{
        left: 16px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        position: relative;
        width: 300px;
    }
    footer .container .sag{
        width: 320px;
        height: 80px;
        left: 0;
        position: relative;
    }
    footer .container .sag h3{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
    footer .container .sag ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
    }
    footer .container .subscribe{
        width: 320px;
        height: 136px;
        left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .mailbutton {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input[type="email"] {
        width: 285px;
        height: 40px;
        gap: 0px;
        border-radius: 5px;
        border: 1px 0px 0px 0px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
}
@media (max-width: 768px) {
    .menu {
        display: flex;
        list-style: none;
        border: 0 solid #ffffff;
        width: 54%;
        padding: 0px;
        border-bottom: 1px solid #E7E9FC;
        background-color: #ffffff;
    }
    header .fixed {
        position: fixed;
        z-index: 99999999;
        width: 768px;
        height: 72px;
    }
    .menu.is-open {
        display: flex;
    }
    header .menu{
        display: flex;
        width: 100%;
        height: 48px;
        border: none;
        align-items: center;
    }
    .menu-toggle {
        display: none;
        width: 24px;
        height: 24px;
        top: 0px;
        left: 68px;
        padding: 4.8px 3.6px 4.8px 3.6px;
        position: relative;
    }
    header .contact a {
        text-decoration: none;
        color: #2E2F42;
        padding: 0;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
    }
    .sol, .sag {
        display: block;
        text-align: center;
    }
    header .menuler .sag {
        display: flex;
        width: 100px;
        margin-left: 29%;
    }
    header .menuler .sol{
        margin-left: 0;  
    }
    .sag {
        margin-top: 15px;
    }
    header nav ul li{
        display: flex;
    }
    header .menuler .sag ul {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 45%;
        bottom: 9px;
        gap: 15px;
    }
    .slider {
        height: 432px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #2E2F42;
        background-size: 1440px auto;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), url(../images/people-office1.jpg) center / cover no-repeat;
        width: 768px;
        top: 56px;
        position: relative;
    }
    .slider .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 768px; 
    }
    .slider h1 {
        color: #ffffff;
        width: 216px;
        height: 160px;
        top: 10px;
        left:0;
        gap: 0px;
        opacity: 0px;
        position: relative;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .modal-button {
        border: 0 solid transparent;
        border-radius: 5px;
        background-color: #4D5AE5;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: Hug(169px) px;
        height: Hug(56px) px;
        top: 50px;
        left: 0;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        opacity: 0px;
        position: relative;
    }
    .yazilar{
        height: 500px;
    }
    .yazilar .container{
        width: 736px;
        height: 312px;
    }
    .yazilar ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .yazilar ul li .icon{
        display: none;
        
    }
    .yazilar ul li h2{
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .yazilar ul li p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .team{
        width: 768px;
        height: 1124px;
    }
    .team ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 71%;
        margin-left: 15%;
        row-gap: 55px;
    }
    .team ul li .name ul{
        display: flex;
        flex-direction: row;
        width: 232px;
        height: 40px;
        display: flex;
        gap: 25px;
        margin-left: 0;
    }
    .team ul li .name ul li{
        width: 40px;
        height: 40px;
        
    }
    .team ul li .name ul li a{
        position: relative;
        right: 10px;
        bottom: 10px;
    }
    .team ul li .name ul li:hover{
        background-color: #31D0AA;
    }
    .team h2 {
        display: flex;
        justify-content: center;
        padding: 9% 0px 50px;
        font-size: 30px;
        font-weight: 700;
    }
    .team ul .card-list{
        width: 264px;
        height: 428px;
        padding: 0px 0px 32px 0px;
        gap: 32px;
        border-radius: 0px 0px 4px 4px;
        opacity: 0px;
    }
    .team ul .card-list img{
        width: 264px;
        height: 260px;
    }
    .portfolio{
        width: 768px;
        height: 1516px;
    }
    .portfolio h2{
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;

    }
    .portfolio ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
    }
    .image{
        width: 356px;
        height: 300px;
    }
    .portfolio ul li .name h4{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .portfolio ul li .name p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .bank{
        width: 296px;
        height: 96px;
        top: 0;
        left: 0;
        position: relative;
        font-size: 16px;
        padding: 42px;
    }
    .portfolio-list .image-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 465px;
        background-color: #4D5AE5;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        padding: 0px;
        font-size: 17px;
        color: #fff;
        font-weight: 400;
    }
    .portfolio ul li {
        width: 356px;
        height: 420px;
    }
    .portfolio ul li .name {
        padding: 15px;
        cursor: pointer;
        padding-bottom: 28px;
        padding-top: 23px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    footer{
        height: 664px;
        background-color: #2E2F42;
        padding: 100px 0;
    }
    footer .container{
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(1, 1fr);
        width: 668px;
        border: 1px 0px 0px 0px;
    }
    footer .container .sol{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 264px;
        height: 112px;
        left: 0;
        position: relative;
    }
    footer a {
        text-decoration: none;
        color: #F4F4FD;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        text-align: left;
    }
        footer .container .sol p {
            left: 0px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
            position: relative;
            width: 300px;
    }
    footer .container .sag{
        width: 208px;
        height: 80px;
        left: 51%;
        position: absolute;
        margin: -3px;
    }
    footer .container .sag h3{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    footer .container .sag ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    footer .container .subscribe{
        width: 668px;
        height: 136px;
        left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 30px;
    }
    .mailbutton {
        display: flex;
        align-items: center;
        justify-content: center;  
        margin-right: 100px;    
    }
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    input[type="email"] {
        width: 285px;
        height: 40px;
        gap: 0px;
        border-radius: 5px;
        border: 1px 0px 0px 0px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
    button[type="button"] {     
        margin-left: 21px;
        margin-bottom: 4px;
    }
}
